.update-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.update-form {
    background-color: #fef2f2;
    border: 1px solid #fce7f3;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ec4899;
    margin-bottom: 20px;
}

.form-input,
.form-select,
.form-textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #fbcfe8;
    outline: none;
    color: #ec4899;
    background-color: #fef2f2;
    font-size: 14px;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: #f9a8d4;
}

.form-button {
    width: 100%;
    background-color: #ec4899;
    color: white;
    padding: 12px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #db2777;
}
